body{
    background-color:#311058;   
    font-family: 'Space Grotesk', sans-serif;
    color: white;
}

#landing{
background-image: url(un.gif); 

}
.landing-text{  
    padding-top: 10em;
    padding-bottom: 14em;
}

h1{
    font-size: 44px;
    font-weight: 500;
}

h2{
    padding-top: 12%;
    font-weight: 400;
    font-size: 4em;
}

#main-content h1{
    padding: 8% 0;
}


.pog p{
padding: 2% 0;
line-height: 220%;
font-size: medium;
color:#b585eb ;
margin-bottom: 5%;
margin-top: 3%;
}

p span{
    text-decoration-line: underline;
    text-decoration-style:wavy;
    color: #cfb9e9;
}
.contact button{
    margin: 1% 1%;
}
h4{
    display: inline;
    font-size: 1em;
    padding: 0% 1%;
}

.deliverables{
    padding: 1.5%;
    margin: 2%;
    background-color:#311058 ;
    border-radius: 0.5rem;
    color:#cfb9e9 ;
    overflow-wrap: break-word;
}
.sub{
    background-color:#110223;   
}
#intro-sub{
    font-weight: 300;
}
#mainnav .nav-link{
 color: white;
 font-size: 14px;
}

#mainnav .nav-link:hover{
    color: palevioletred;
   }

#main-content{
    border-radius: 2.5rem 2.5rem 0rem 0rem;
    background-color: #110223;
    padding: 0px 12%;
    padding-bottom: 7em;
}

.gradient-box{
    border-radius: 0.32rem;
    background: linear-gradient( #9B4DC4 1.9%, #702CB7 46.35%, #4E0CAA 100%);
}

.solutions{
    background: linear-gradient( #620c91 1.9%, #5815a0 46.35%, #4E0CAA 100%);
    padding-bottom: 4%;
}
.space{
padding: 5%;
background-color:#110223 ;
}
.line-1{
    border-left: thick solid white;
    border-color: white;
    margin: 0px 8px;
    height: 150px;
    width: 5px;
}

.chromo-area h3{
    display: inline;
}

.history-text{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 300;
}


left-bar{
    align-self: center;
}



.trans-box{
 transform: translateY(-20px);
}

.empty-space{
    background-color: #110223;
    height: 600px;
    background-image: url("contact.png");
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 150px;
    padding-top: 320px;
}

#planets{
    margin-top: 10%;
}

@media(max-width: 1200px){

   
}
@media(max-width: 684px){

    #main-content .col-sm-2{
        margin: 2.5% 0 ;
    }
    #main-content img{
        max-width: 50%;
    }
    .gradient-box{
        margin-top: 2em;
    }
    h2{
        font-size: 2.5em;
    }
    h1{
        font-size: 2em;
    }

    .top-title{
        font-size: 50px;
        margin-top: 15px;
        margin-bottom: 10px;
    }

}
